.App {
  flex-direction: column;
  display: flex;
  overflow: hidden;
  width: 50%;
  margin: 0 auto;
}

#bigOverlay{
  width: 80%;
  margin: 0 auto;
}

#progressBar{
  background-color: gray;
  height: 2vh;
  width: 100%;
}


#bigOverlay div:first-child h1{
  margin-bottom: 0px;
  padding-bottom: 0px;  
  font-size: 2.5em;
}

#bigOverlay div:first-child h3{
  margin: 0px;
  padding-bottom: 0px;  
  font-weight: lighter;
  color: rgb(126, 125, 125);
}

img{
  width: 1.5%;
  height: 2%;
}

#bigOverlay p{
  text-align: center;
  margin-top: 6vh;
  font-size: x-large;
}

#bigOverlay #answers{
  text-align: center;
  margin-top: 6vh;
  flex-wrap: wrap;
  /* width: 180%;
  margin-left: -67%; */
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  height: 15vh;
}

#bigOverlay #answers .answers{
  text-align: center;
  min-width: 14vw;
  height: 3vh;
  border-radius: 6px;
  /* margin-left: 30%; */
  /* margin-bottom: 7vh; */
}

#bigOverlay #answers .answers:hover{
  background-color: black;
  color: white;
}

#bigOverlay #answerStatus{
  text-align: center;
}

#bigOverlay #nextQuestion{
  text-align: center;
  border-radius: 6px;
  width: 18vw;
  height: 3vh;
  /* margin: 0 auto; */
  margin-left: 30%;
  border: 1px solid black;
  margin-top: 7vh;
}

#bigOverlay #nextQuestion:hover{
  background-color: darkgray;
  color: white;
}

#bigOverlay #scoreOverlay{
  height: 3vh;
  border: 2px solid black;
  border-radius: 7px;
  position: relative;
}

#bigOverlay #scoreChat span:first-child{
  margin-left: 0%;
}

#bigOverlay #scoreChat span:nth-child(2){
  margin-left: 91.8%;
}

#scoreChat{
  margin-top: 27vh;
}

#maxScore{
  height: 100%;
  background-color: lightgray;
}

#score{
  position: absolute;
  height: 100%;
  background-color: rgb(114, 112, 112);
}

